body {
    margin: 0;
    padding: 0;
    color: white;
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
    height: 100vh;
    grid-template-rows: 1fr 2fr 10fr 1fr;
    grid-template-columns: 100%;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01579b;
}

.titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulos i {
    padding-left: .5rem;
    padding-right: .5rem;
}

.titulos p {
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav li {
    padding: 1rem;
}

.menu i {
    padding-right: .5rem;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

header label {
    color: black;
}

main {
    grid-area: main;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.grid-container-main {
    height: 65vh;
}

.card-main, .card-main-tab, .card-product {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: 2px 2px 5px 2px #eee;
    border-radius: 5px;
}

.card-main p, .card-main-tab p,.card-product p{
    margin: 0.5rem;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: black;
}

.card-main button, .card-main-tab button, .card-product button {
    background-color: #01579b;
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #05014a;
}

.iconos-rrss {
    margin-top: .5rem;
}

@media screen and (min-width: 576px) {
    body {
        grid-template-areas: 
            "nav nav"
            "header main"
            "footer footer";
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr 10fr 1fr;
    }

    nav {
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: end;
    }

    .menu {
        display: none;
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #dddddd;
    }

    main {
        grid-area: main;
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    .card-product{
        display: none;
    }

    .grid-container-main{
        display: grid;
        grid-template-columns: auto auto;
        height: 80vh;
    }

    footer {
        grid-area: footer;
        background-color: #05014a;
    }
    
}

@media screen and (min-width: 992px) {
    body {
        grid-template-areas: 
            "nav header"
            "nav main"
            "footer main";
        grid-template-columns: 15% 85%;
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .titulos {
        padding-top: 1rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: none;
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #dddddd;
    }

    main {
        grid-area: main;
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    .grid-container-main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 90vh;
    }

    .card-product {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        box-shadow: 2px 2px 5px 2px #eee;
        border-radius: 5px;
    }

    footer {
        grid-area: footer;
        text-align: center;
        background-color: #05014a;
    }
    
}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }

    .card-main-tab {
        display: none;
    }

    .card-product{
        display: none;
    }
}